[2020-05-13 17:01] aeiras opened #9 "[Migrating from Java EE to Jakarta EE 9] OSS Ecosystems that are preparing to Migrate need highlight"
5/13- Sent via the Jkta Mktg slack #general channel with respect to ask the WG in the branding side to  initiate the prioritizing of any OSS ecosystems that are proactively starting to prepare their users to move to Jakarta from Java EE. The change is required given the name space change with Jakarta EE 9 release.

Msg below and exact link using Apache Tomcat as a fantastic example tweet [HERE](ht

[2020-06-11 18:49] aeiras opened #8 "[Update the Jakarta Mktg Slack guests] 2020 WG"
Hola Jakarta Mktg team,

Given that 2020 Jakarta EE elections are concluded and across the board the onboarding has been completed, can the Slack private channels be updated as  part of the yearly onboarding process?  Using slack as an example, all tools that enable private collaboration under this project need to be audited to match Contributors' current and past status.

Slack collaboration is n

[2020-07-08 20:36] aeiras opened #22 "[ Media Collateral Resources] Publicly available is NEEDED"
- media designs cards

- example of written messages that can be pushed by the Community

- hashtags that are relevant by event

- speakers design cards that can be adjusted by speakers themselves- general use

- speaker's session templates to support speakers and normalized the event

- enable local (by event continent ) JUGs to come together and help promote the event to its ecosystems. :) ----

[2020-07-09 01:17] aeiras opened #21 "[JakartaONE Committee] JakartaONE Español folder in the CommunityDrive"
https://drive.google.com/drive/u/0/folders/1sRSywb22ioT98uRVKK0sBU8MiMWzFY_n

The Committee needs to gain write access to manage this space.
Recommendations:

- edit access to each member of the Committee

- Current skeleton needs to be translated and adjusted as the Committee accomplish stuff into Spanish

- Folders:

1. Design to contain: media general pushes, speakers slides, design cards for s

[2020-07-09 01:20] aeiras opened #20 "[JakartaONE Committee] Message to the Jakarta EE Spanish Community introducing the event"
Ideally the message is written by the Committee in Spanish and signed as- the JakartaONE Committee Team on all messages that are formal and are aimed to represent the event.

Using the drive, this and similar templates ought  to be hosted.

Call to Action to support by becoming a speaker, a sponsor, a watcher of the event matters. THAT message must provide an insight of the project, which includes

[2020-07-09 01:35] aeiras opened #17 "[JakartaONE Committee] Populating the JakartaONE wiki for the event under Projects"
using pull requests, most of the data found in the JakartaONE drive for the event needs to start populating the JakartaONE Español wiki.

Make no mistake, the committee doesn't need to be a Jakarta EE committer to be able to help properly document such information.

Ideally, every JakartaONE by country or continent will get its own dedicated Project, as seen below to make each iteration of the eve

[2020-07-09 01:39] aeiras opened #15 "[JakartaONE Committee] Add THIS Repo to the JakartaONE website"
This repo and its content is the source of truth for all activity that makes a JakartaONE possible, as such the Repo needs to be in the website as a MUST item.

[2020-07-09 01:50] aeiras opened #13 "[JakartaONE Committee] Formalized Media pushes Messages"
It is the job of the committee to not only write formal messages that are sent by the individuals to the forums but also to write the media messages that are distributed via the formal Jakarta EE media channels, Twitter, FB etc.

That work and its desired scheduled needs/ought to be submitted via git issues so that those behind the management of the JakartaONE media channels (100% the hired Jakart

[2020-07-09 01:54] aeiras opened #12 "[JakartaONE Committee] Q&A for the event - website"
using the current drive space- the most common Q&A you are discovering by doing need to be written under the document.
- using the pull request under this space, that document can be added to the website to be adjusted as the community of #ossDOERs see fit in the future via PRs :)

-- it is bothersome to realize something, to find its solution only to drop the ball on sharing / tracing such a valu

[2020-07-09 02:22] aeiras opened #11 "[JakartaONE Committee] Sponsorships ??? if any- transparency on why is needed"
two parts:

**Value for**  by the event or after
participants: committee, speakers, volunteer organizers... etc:

-  what do you dream to have so that maybe "speakers & volunteers" get to keep as a thankyou swag for their involvement on this event?

**value for ** before, through and after

- what does an ORG get if it chooses to support the event?

- does the ORG understands clearly how their mon

[2020-08-05 20:35] aeiras opened #10 "[JakartaONE Naming Consistency] Brainstorming"
Hey community,

Is there a reason why the JakartaONE website lists the 2020 3 events on a different fashion?
The current naming doesn't help with the Jakarta EE Branding  nor scales.

I recommend we establish t_he bare minimum naming rules_ to help the JakartaONE LiveStream branding scale and become a global event.

- JakartaONE Brazil 2020 --- country event- localized OK! :)

- JakartaONE in Engl

[2020-08-14 18:30] aeiras opened #7 "[Remembering our Fallen Jakartees] Via Jakarta EE Twitter media"
I have been thinking for awhile, after we- the Jakarta EE project lost Bill Shannon early this year.

If there a way for the Marketing team to design a card and a message directed to Bill's family and the entire community where we acknowledge how deeply missed he is and how important he was for Jakarta EE since its onboarding and for that matter since Java EE was created?

[2020-09-02 09:30] BaptisteMeynier opened #1 "Design showing synergy between Jakarta EE and MicroProfile"
Hello everybody,
I'm currently creating my blog talking about standards Jakarta EE / MicroProfile / etc.
I create a design in svg for my blog, I would like to know if I can submit it to Eclipse foundation.
You can see it [here](https://raw.githubusercontent.com/BaptisteMeynier/Infographie/master/preview.png)
If is it the case I have some questions to clean my work in order to be compliant with Ecl

[2020-09-02 15:11] aeiras commented on #1
Hola Baptiste,

This Community Repo was created 7 days ago and you have submitted its very 1st contribution, congratulations! 👍

**Question**, have you signed the ECA yet? All contributors must sign the Eclipse Contributor agreement.

[2020-09-02 17:42] BaptisteMeynier commented on #1
I'm glad to be the first ^^
Yes, I created my account on www.eclipse.org and sign the ECA two months ago

[2020-09-02 17:46] aeiras commented on #1
Thats wonderful Baptiste!

Now, I ask for your patience as this Repo needs to be introduced to the Jakarta EE Community so that everyone understand that they too have the power to shape the project branding by helping with submissions, etc!

Stay healthy and thank you for prioritizing your time contributing to both MP and Jkta! :)

[2020-09-02 18:23] cesarhernandezgt commented on #1
Hi @BaptisteMeynier
That SVG looks pretty good!

Have you checked already the https://jakarta.ee/legal/trademark_guidelines/

That's an interesting question.  I opened a ticket, feel free to follow up, in the MicroProfile Marketing repository: https://github.com/eclipse/microprofile-marketing/issues/319

[2020-09-02 18:30] mimaraslan opened #2 "Relationship of J2EE, Java EE and Jakarta EE"
![Relationship of J2EE, Java EE and Jakarta EE](https://pbs.twimg.com/media/Eg5ykrXXsAcWMq0?format=png&name=small)

[2020-09-02 18:41] cesarhernandezgt commented on #2
Hi @mimaraslan

Thank you for opening the issue.
Can you please provide more context on the intend of the design you attached to the ticket?

A link to an email thread, if available, would also be good to get context for new eyes like mine about the cool design.

[2020-09-03 12:14] BaptisteMeynier commented on #1
I get an other feather coming from a free to use icons database. The container is also free to use.

I change the gauge

I add (r) and Tn mention on logos where I forgot

I update the list of contributing companies, all premium contributors were displayed (I added Fujitsu)

About Implementation I find a list of JakartaEE certified server (https://jakarta.ee/compatibility/) but I don't find the lis

[2020-09-04 17:21] aeiras opened #3 "[Jakarta EE TCK Drive folder] Public Access Creation"
Hola @ivargrimstad,

Can you please create a folder with public access in the Jakarta EE Community drive called Jakarta EE TCK?

After today's TCK call, we need the space to add the minutes from the public call. :) Thank you!

[2020-09-04 17:50] keilw commented on #1
@BaptisteMeynier Which one do you mean is not up to date, do you mean: https://jakarta.ee/compatibility/ missing TomEE, that's, because TomEE has not passed the compatibility test after a year Jakarta EE 8 exists now ;-)
@aeiras Any idea when that's going to happen?

[2020-09-04 17:53] keilw commented on #3
@aeiras @ivargrimstad It's nice to help creating more TCK tests, but is there a plan when TomEE might pass the existing TCK like all the other vendors that did it, some within a week after Jakarta EE 8 went Final? ;-)

[2020-09-05 19:28] BaptisteMeynier commented on #1
@keilw thx for your answer about JakartaEE. I would like to know also about the MicroProfile side.

About Jakarta EE font and logo usages I find all that I need on the [marketing section](https://www.eclipse.org/artwork/) on the right panel.
Documentations are very relevant!

I update the last section with all valid implementations.

[2020-09-05 23:26] keilw commented on #1
MicroProfile is struggeling with compatibility and just about to throw Metrics (one of the earliest specs) out mostly in favor of Micrometer, so any compatibility claim there is not so durable and sustainable I'm afraid.

[2020-09-07 08:46] OlivierJaquemet commented on #2
Disclaimer : I am not in any way related to the creation of this nice table. I just want to answer last comment of @cesarhernandezgt having the information on this.

This table was initially published on twitter :
https://twitter.com/mimaraslan/status/1301103580213112832

And a request to integrate this table inside this repo was suggested by Amelia Eiras (@aeiras) :
https://twitter.com/ameliaeira

[2020-09-07 15:40] cesarhernandezgt commented on #1
Hi @BaptisteMeynier ,

Thank you for the follow-up. I saw the new changes in the image, it looks greate.
About the MP font's, logo, and colors, the ticket eclipse/microprofile-marketing#319 was replied and point us to:
https://microprofile.io/resources/branding/

In terms of your question "_...but I don't find the list for MicroProfile..._" that's a good catch, I couldn't find a link with a concre

[2020-09-07 15:50] cesarhernandezgt commented on #2
Thank you @OlivierJaquemet for the context provided.

After seeing @mimaraslan twit it seems the purpose of the image is to educate and provide an infographic about the "Relationship of J2EE, Java EE, and Jakarta EE".

I'm +1 (in favor) of iterate the design of the image, my questions for the community and @mimaraslan is that if you think this image can become a standalone contribution that later

[2020-09-08 13:58] ivargrimstad commented on #3
@aeiras I'm not the one responsible for maintaining this drive. It is handled by the marketing committee. As far as I know, they have appointed a group of maintainers.

[2020-09-08 14:13] keilw commented on #3
So is this only for Marketing purposes? If not, how should it properly correlate with the actual Jakarta EE TCK repo?

[2020-09-08 14:34] ivargrimstad commented on #3
I don't think it is marketing. The Google Drive is maintained by the marketing committee.

[2020-09-08 14:38] keilw commented on #3
Still keen to see, how this may work with the actual TCK e.g. automated tests and CI jobs like Jenkins? We had quite some bad experience with eager contributors writing JUnit tests or even TCK tests for JavaMoney and a lot of it had to be reverted because they did not understand the JSR enough, so I fear the test quality might be equally bad here unless it is also tested (automatically) in some fo

[2020-09-08 20:42] BaptisteMeynier commented on #1
Hi @cesarhernandezgt
I create an issue as you suggest about MicroProfile compatibility list.

I changed font to an other free to use and add all implementations. Do you think that I can submit the design like this or I should change something else ?

[2020-09-08 21:09] cesarhernandezgt commented on #1
Hi @BaptisteMeynier

Thank you for the update, I see you already opened a thread on the MP side of the fence (https://github.com/eclipse/microprofile-marketing/issues/321) but that Gihtug Issue is not at all a blocker for this PR.

I like the current design. The repository will soon be accepting PullRequest so you can submit the design mentioned here in the Issue. I guess more people will be provi

[2020-09-10 18:29] cesarhernandezgt commented on #1
Hi @BaptisteMeynier
Now the project is able to receive pull-request. Feel free to open a PR with your design.

[2020-09-10 21:41] cesarhernandezgt opened #5 "[technical talk video] Jakarta EE TCK Community Outreach 2020-09-04 and 2020-10-09"
**Jakarta EE TCK Community Outreach Call Sep 4, 2020**

**Video Title**: Jakarta EE TCK Community Outreach Call Sep 4, 2020

**Youtube playlist**:
~~ [Community Content](https://www.youtube.com/playlist?list=PLutlXcN4EAwCefsYB_Cqw4IXY2VDc--fh)~~
It seems a specific "Jakarta EE TCK" Playlist youtube playlist was already mentioned on https://github.com/jakartaee/collateral/issues/48 so I updated the

[2020-09-10 21:59] cesarhernandezgt opened #6 "Request to enable Git LFS in this repository"
Can some of the repository administrators please enable Git LFS to this repository.

The setting is at  https://github.com/jakartaee/collateral/settings  under the `Archives` section with the checkbox `Include Git LFS objects in archives`

[2020-09-10 22:00] cesarhernandezgt commented on #5
This Issue and the corresponding PR is blocked by https://github.com/jakartaee/collateral/issues/6

[2020-09-12 10:12] BaptisteMeynier commented on #1
Maybe I should wait validation of the structure [Pull Request](https://github.com/jakartaee/collateral/pull/4) before ?

[2020-09-12 12:47] BaptisteMeynier commented on #1
I try to create a branch with my work in order to create a PR but I'm not authorized to push.

I have an other question, MicroProfile was announced during the London Dev Nation in 2016 by IBM, Red Hat, Tomitribe, Payara, the London Java Community (LJC) and SouJava. I would like to know if Eclipse Foundation was directly in charge of MicroProfile Project.

[2020-09-12 13:56] keilw commented on #1
Of course that's the idea, you're not supposed to merge PRs, that is for the members of the Spec Committee or other Jakarta EE full committers.
Eclipse Foundation is in charge of all Eclipse projects as governing and hosting Open Source Organization, also for MicroProfile, although sometimes a few active contributors try to do things "a little differently" but it has to be within the boundaries of

[2020-09-12 15:35] aeiras commented on #1
Hola Baptista,

MicroProfile was formally announced on June 27th, 2016 at DevNation conference in San Francisco.

https://www.redhat.com/en/blog/its-official-microprofile-now-eclipse-microprofile

The EF wasn’t a part in any form in the creation of MP. MP is fully 100 % community lead.

The EF EMO doesn’t manage nor has a vote not leads any project under its roof.

[2020-09-12 15:43] aeiras commented on #1
One last thing, formally MP was became an  EF project the first week of January 2017 with signature completed in London by Mike & me.
The Legal transfer matters.  If you need a date use January 2017.

[2020-09-12 17:57] BaptisteMeynier commented on #1
@aeiras Very interesting, I updated the design.

Thx @keilw for informations, How can I proceed to submit my work ?

[2020-09-17 15:59] aeiras opened #14 "[JakartaONE Committee] Push CALL2ACTION to make public the value of this REPO"
using JakartaONE media channels & forums, & JUGs & individuals media channels-- how this event is run needs to be normalized and made explicit that the git issues and PRs are used & welcomed anyone interested to not only through tasks but also own those tasks.

Showing care means tracing the time invested on any activity that leads open source to be not only fun & valuable but also that flattens k

[2020-09-17 16:00] aeiras opened #16 "[JakartaONE Committee] Add Call to Actions directly on the JakartaONE website"
- sponsorships details with 1 click that will enable anyone interested to own it without issues or debt

- registered call to action

- media collateral support

- the website must be the space where the source of truth lives

[2020-09-17 16:00] aeiras opened #18 "[JakartaONE Committee] Jakarta Studio Youtube Channel to interview the speakers"
a template with exact questions about the speakers data and the sessions and whatever that answers

- why should we prioritize watching his session?

[2020-09-17 16:01] aeiras opened #19 "[JakartaONE Committee] Video Introducing the Committee"
Using the Jakarta EE Studio youtube channel, requirement for all those present to speak Spanish, ONLY, a short 20 to maybe 30mins video recorded needs to at least:

- follow a normalized questionnaire that shows not only data of the event, expectations & value but also states clearly how the community can help by stating the tools in place that brings a 365 collaboration & ownership.

-  introduce

[2020-09-17 18:42] cesarhernandezgt commented on #1
Hi @BaptisteMeynier

Replying in line:

I don't think so because my PR is for initial structure and documentation. It doesn't cover how the actual contribution (Audio, video, etc) will be distributed.

For your PR I would suggest to create a folder structure like:

- images
--- SynergyJakartaEEMicroProfile
------yourFile.png
------yourFile.svg

Assuming that you already have an Eclipse User accoun

[2020-09-18 23:27] TanjaObradovic commented on #6
Can someone help with this? I am not sure what need to be done here :)

[2020-09-19 17:11] BaptisteMeynier commented on #1
Hi @cesarhernandezgt
Thx for the process, however I have an issue with the "Signed-off-by" instruction.
I join my [commit](https://github.com/jakartaee/collateral/pull/24/commits/b66c0dbbcd9c21206e6d99590c029cdf393cced0)
Could you help me pls, I did a mistake but I don't see where.
Thx

[2020-09-19 17:19] BaptisteMeynier commented on #1
My Github account login is BaptisteMeynier
I execute:
git commit --amend --author="Baptiste Meynier <baptiste.meynier@gmail.com>"
and signed off Baptiste Meynier
The issue could be the space between my first and last name ? I should signed off with my Github account login ?
https://wiki.eclipse.org/Development_Resources/Handling_Git_Contributions

[2020-09-21 17:48] cesarhernandezgt commented on #1
Hi @BaptisteMeynier ,

Yes, I think that the main issue. By looking at your PR and your github username I think the commit amend should be like:

`git commit --amend --author="BaptisteMeynier <baptiste.meynier@gmail.com>"`

Also I think that I'm my list of steps I miss the  `<` `>` between the email:
`Signed-off-by: BaptisteMeynier <baptiste.meynier@gmail.com>`

[2020-09-21 20:58] BaptisteMeynier commented on #1
Thx, it's work !

[2020-09-23 16:32] aeiras opened #25 "[Friends of Jakarta EE video recorded] Submitted to be added to the Youtube channel under Friends of Jakarta EE"
Ivar,

Can you please grant me the access to drop today's recording into the Friends of Jakarta EE folder? Thanks

https://drive.google.com/drive/u/0/folders/1rbf7GMwZRtplOICVSJoPpBXY__awudWP

[2020-09-23 19:31] eclipsewebmaster commented on #6
Done.

[2020-09-23 19:31] #6 closed

[2020-09-30 18:09] cesarhernandezgt opened #26 "Add Rules and Requirements Checklist to CONTRIBUTING.adoc"
Links to Code of Conduct,Trademark Guidelines,Jakarta EE Brand Usage Handbook, Copyright Notice Recommendations and
Social media policy and guidelines can be added as part of the CONTRIBUTING.adoc document.

[2020-09-30 19:25] cesarhernandezgt opened #28 "Update video guidelines"

[2020-10-06 17:22] aeiras opened #30 "[Participant Members Quotes] ought to be added to the Membership rotation"
HERE https://jakarta.ee/membership/#benefits Participants quotes ought to be listed in the benefit page. 

We can use this REPO to ask for such volunteers quotes and use the MP working group mailing list.

[2020-10-07 18:20] aeiras opened #31 "[JakartaONE Speaker Slides] Contribution by Tomitribe"
Hola Jakarta EE Community,

[JakartaONE Speaker Slides](https://docs.google.com/presentation/d/1B2X-y5qm0VJa6QO9WACID0dat52iXQGmjInEZqBIDg0/edit#slide=id.g93424bc438_3_432)

While contributing to the JakartaONE en Español event, we have created the speaker slides.
Please not that the presentations are scalable in usage and could be a version used by future JakartaONEs.

Currently the slides are lo

[2020-10-09 21:43] cesarhernandezgt opened #33 "Initialization on repo for Git LFS seems to be need it"
Currently, a contributor can´t push to collateral github forks LFS content since the upstream repo doesn´t have any LFS content. This prevents one to be able to create a Pull Request to jakartaee/collateral

The error I got locally when trying to push to an existing PR any LFS content is:

[code]

Proposed steps to solve this issue:

1. Add .gitattributes to the collateral repository, I already op

[2020-10-09 21:47] cesarhernandezgt commented on #5
This issue and corresponding PR is blocked now by https://github.com/jakartaee/collateral/issues/33

[2020-10-10 08:15] zhengshundong01 opened #34 "【Question】: I want to join JakartaEE Working Group, but do I have to join Eclipse Foundation Member first?"
i have read https://jakarta.ee/documents/membership/jakarta-ee-membership-prospectus.pdf

this pdf say：
learn how to become a member on this page：https://www.eclipse.org/membership/become_a_member/

i have see this page is Eclipse Foundation member，so i need join this first ?

[2020-10-11 18:52] aeiras commented on #2
Hola @mimaraslan,

I am going to use the trajectory you created with the pie at JakartaONE Español tomorrow. :) Your collaboration is wonderful, thank you for providing the opportunity to highlight your contribution and for being patient with this space while it is being set up! #ossDOERs who rock!

[2020-10-12 14:35] mimaraslan commented on #2
It is always a great pleasure and honor for me to know respected and valuable Java masters like you. Thank you.

[2020-10-12 14:43] mimaraslan commented on #2
It is always a great pleasure and honor for me to know respected and valuable Java masters like you. Thank you.

https://twitter.com/JakartaOneES/status/1315648793786953728
#JakartaEE #JavaEE #JakartaOneHispano #JakartaOneES @ameliaeiras @JakartaOneES
![](https://pbs.twimg.com/media/EkIfUPZWsAcgMTZ?format=jpg&name=medium)

[2020-10-12 14:54] aeiras commented on #2
I think it is wonderful that your contribution is now a part of JakartaONE Español.  the credit is given in the slide. :) It made me smile Mimar. So fun! :)

[2020-10-12 14:55] aeiras commented on #2
and Mimar, there are no Java masters in the ecosystem. Just people like you, who show up & choose to do the job!

[2020-10-14 17:04] cesarhernandezgt commented on #33
Hi @eclipsewebmaster  @ivargrimstad

Until https://bugs.eclipse.org/bugs/show_bug.cgi?id=567494 gets resolved, I think you are the only ones at this point who can help on this one. Any help will be appreciated 👍

[2020-10-15 06:09] ivargrimstad commented on #33
Pinged the bug...

[2020-10-21 19:00] aeiras opened #35 "[Onboarding NEW Members documentation wiki] Questions & Answers"
We need to document the processes that enables new Jakarta EE Working Group Organizations to know whats what and what to expect and the benefits available to them via wiki.
The wiki needs to welcome PRs by the new members so that the documentation is updated as more members make use of the process.

Examples items to be listed on the onboarding:

1. Must mailing lists such as the WG & Community fo

[2020-10-22 01:48] laliwa opened #36 "[Primeton quote]"
Primeton takes it of great importance that we take part in the process of promoting Jakarta EE especially in China and also participating in the specifications developing procedure. By leveraging the advantages of the new features of Jakarta EE like cloud-native, microservice, and other exciting improvements, we can always keep our customers convinced that we are a forward-looking company to speed

[2020-10-22 02:35] aeiras commented on #36
Eric,

What do you think about below items?
They are suggestions that can take any shape. :)

- **Issue ticket** : https://github.com/jakartaee/collateral/issues

- **Subject ticket:** [Org Name]  Submission of Membership Quote

- **Quote answers:** Why are you investing the time and resources on Jakarta EE ecosystem?

- **Author:** Name - Title- Company

1. On Author, I would like for the quotes

[2020-10-22 02:37] aeiras commented on #36
- **quote length**: currently, 3 quotes rotate, so space is about 2 to 4 sentences. If you want to add a word count, that could help keep the quote concise as well.  I am too simple and say 2 to 3 sentences, but that is not helpful with running sentences, so I think you can help improve that item. :)

Cheers, and thank YOU for being awesome!

[2020-10-22 03:47] laliwa commented on #36
among the 3 quotes, I take the IBM version as the standard, its length is in the middle of the 3, it has 66 words in total, so I think 60 maybe a reasonable count.

[2020-10-22 03:50] laliwa commented on #36
Sounds great to me.  :)

[2020-10-22 19:21] aeiras commented on #36
Eric,

Thank you for brainstorming with me to push the quote guidelines. :) [Quote Submission Guidelines](https://docs.google.com/document/d/1SWnFtcTvAkWMThN1uE2KKn7WV6i3SFVetSa4YlSBhsk/edit#) Currently housed under the Jakarta EE Community drive under the "Photos" folder.

Because of your collaboration, I will send a follow-up to the WG thread to update this initiative. So much!  :)

Now, using y

[2020-10-22 19:25] aeiras commented on #36
@laliwa can you check the Quote Submission Guidelines as well. Anyone on the web has edit access. :)
Ideally, the Marketing Committee pushed for using Git pages for housing this and other marketing guidelines so that anyone in the Community can help adjust the documentation via PR submissions. Wiki via git is a horrible way to enable others to help with documentation.
On the TCK side of things, we

[2020-10-26 02:52] laliwa commented on #36
Great Amelia!

LGTM! I don't think I need to change anything, thanks a lot for taking the trouble to optimize it.&nbsp;

------------------

  			 				普元信息技术股份有限公司

科创板上市企业（股票代码688118）
专注于：微服务，DevOps，大数据，云计算，移动架构

 									 					孟庆余
 					市场部市场总监

 					 						电话&nbsp;010-62698005&nbsp; 						手机&nbsp;13811302857
 						传真&nbsp;010-62698015&nbsp; 						邮箱&nbsp;mengqy@primeton.com
 						http://pri

[2020-10-28 15:50] TanjaObradovic commented on #31
I just replied to this this in https://github.com/jakartaee/jakartaone.org/issues/209. But pasting here as well

For each of the regional or language specific virtual conference we have a folder in the Community Folder -> JakartaOne Livestream - Spanish
https://drive.google.com/drive/u/0/folders/1sRSywb22ioT98uRVKK0sBU8MiMWzFY_n
I believe we can us that folder for the template presentation. I am n

[2020-10-28 21:02] aeiras opened #37 "[Friends of Jakarta EE Call Recording] October 28th Video -- Youtube Paylist"
Attached please find the video recording of the October's Friends call.
https://drive.google.com/drive/u/0/folders/1KJYBDuTVU3myx60CroIWL3Iz1KjK39oC

Thank you for adding as a part of the Friends of Jakarta EE Playlist.

[2020-10-29 00:29] emecas opened #38 "[IDEA] Promotion of this repo on Different Channels (Twitter, LinkedIn, Slack, etc)"
Communicate about this Repository: **Jakarta EE Collateral** promoting community participation and transmitting by different channels  the idea that everybody is welcome to contribute with new ideas, questions, tips, suggestions by adding new issues here

[2020-10-29 18:51] aeiras commented on #38
wonderful suggestion, Emerson! :) +1 to using the formal Jakarta EE media to constantly push information to the ecosystem currently aware and not of the features available that enable contributions that are NOT code related. :)

[2020-10-30 18:29] jmcc0nn3ll opened #39 "Webtide Submission of Participant Quote"
The Jakarta EE project represents a noble goal of free and open-source development on the Java specifications that are absolutely core to the Java experience.  The Eclipse Jetty project and its developers at Webtide have contributed to many of these specifications since their inception and are pleased to continue doing so as a part of Jakarta EE.

Jesse McConnell - CEO - Webtide

[2020-11-06 23:28] aeiras opened #43 "[JakartaONE English 2020] Swag request for Committee & Speakers"
related to this ticket [[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers jakartaee/collateral#42](https://github.com/jakartaee/jakartaone.org/issues/221l)

[2020-11-07 17:26] mkarg opened #40 "[Youtube][Swag Request] Swag request for Youtube show"
*Related to this ticket [[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers #221](https://github.com/jakartaee/jakartaone.org/issues/221)*

I will be the host of a live show on my Youtube channel on November 20th at 20 CET where I will host Ivar Grimstad livehacking on some code. This is an innofficial fun coding show about Jakarta EE 9. Can you please send some merch

[2020-11-11 10:31] TetianaFTV opened #41 "[Jelastic] Submission of Jakarta EE Working Group Participant Quote"
Quote:
**"Jelastic team keeps working tightly with Jakarta EE ecosystem to make this technology cloud-friendly, scalable and easily available for developers worldwide. Jakarta EE project is constantly introducing new improvements and we are committed to instantly spread these updates via our PaaS deployed across network of service providers to meet the needs of Java community in tune with the time

[2020-11-11 19:26] aeiras commented on #41
wonderful Tetiana! : )

[2020-11-11 19:27] aeiras commented on #39
Beautiful Jesse! :) abrazos

[2020-11-11 20:21] aeiras opened #42 "[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers"
It is the job of the Jakarta EE Working Group to ensure that the individuals in the ecosystem, who have chosen and will choose, to support the technology via diverse Livestream events (for example 2020 (3 completed) **are properly thanked** by the body that holds the project's budget and is able to execute such formidable activity.

 As such a portion of the marketing budget **must be allocated**

[2020-11-11 20:21] aeiras opened #44 "[JakartaONE Español 2020] Swag request for Committee & Speakers"
Related to this issue: [[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers jakartaee/collateral#42 ](https://github.com/jakartaee/jakartaone.org/issues/221)

[2020-11-11 20:21] aeiras opened #45 "[JakartaONE Brazil 2020] Swag request for Committee & Speakers"
Related to this issue [[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers jakartaee/collateral#42](https://github.com/jakartaee/jakartaone.org/issues/221)

[2020-11-11 20:22] aeiras opened #46 "[JakartaONE Japan 2020] Swag request for Committee & Speakers"
Related to this issue [[JakartaONE Champions Program- THANK YOU] Swag request for Committee & Speakers jakartaee/collateral#42](https://github.com/jakartaee/jakartaone.org/issues/221)

[2020-11-11 20:26] chrisguindon commented on #42
I am moving these issues to the jakartaee/collateral repo in order to keep the focus on issues related to the website for the jakartaee/jakartaone.org repository!

[2020-11-11 20:29] keilw commented on #42
Btw, does #43 cover everyone who speaks or presents at JakartaONE anyway, or should we still request that individually?

[2020-11-11 20:32] aeiras commented on #42
@keilw: ideally everyone should request via git issue the swag. The committees in the future will provide the access to the eform upon sending the Accept session notification.
For the 2020 JakartaONEs, we must go old school and do everything manually.  The eform will need to be created to privately enable that Jakartee to send of the information to the EF team.

@chrisguindon + 1! Thank you!

[2020-11-12 21:23] TetianaFTV opened #47 "[Cloud Tech Days] Project Media Support"
Hi,

Next week we are arranging [Cloud Tech Days](https://www.cloudtechdays.com/).

There will be three sessions:
- **November 16** about Scalability and elasticity of cloud hosting
- **November 18** about Saving and how to cut cloud hosting spends
- **November 20** about Simplification of cloud infrastructure management

Speakers:
- [Bruno Souza](https://twitter.com/brjavaman), Java Champion and

[2020-11-13 19:02] aeiras opened #48 "[Youtube Playlist Creation] Jakarta EE TCK Playlist"
Hey team,

We have submitted +5 recordings from the zoom recorded calls which started in September to this space.

Can you please create the Jakarta EE TCK Playlist and start processing the submitted video content contributions?

Thank YOU!

[2020-11-13 19:04] aeiras opened #49 "[Youtube video contribution] Jakarta EE TCK demo: 2020-11-13 Recording_Running The Platform TCK Demo with making test change"
Please use the **video title** below when importing the video to the play list:

[2020-11-13 Recording_Running The Platform TCK Demo with making test change](https://drive.google.com/drive/u/0/folders/1CgikCM-UcAhFOps63-ulEEZ7im7LB7MN)

Thank you,

[2020-11-16 15:58] hudsonkelly83 commented on #47
Done! We are posting today and tomorrow across Jakarta EE channels.
Here is a link to the first twitter post: https://twitter.com/JakartaEE/status/1328352208329584642

[2020-11-16 16:25] TetianaFTV commented on #47
Great, thank you!

On Mon, 16 Nov 2020 at 16:58, hudsonkelly83 <notifications@github.com>
wrote:

--

* <https://jelastic.com/blog/email-banner/>*
*Tetiana Fydorenchyk*
VP of Marketing @ Jelastic <https://jelastic.com/?utm_source=footer>
<https://twitter.com/tetiana_ftv>Twitter <https://twitter.com/tetiana_ftv>
Facebook <https://www.facebook.com/tetiana.ftv> LinkedIn
<https://www.linkedin.com/in/t

[2020-11-16 21:27] cesarhernandezgt commented on #33
Closed this one since GLF is working now.

[2020-11-16 21:27] #33 closed

[2020-11-16 21:28] #26 closed

[2020-11-16 21:29] #28 closed

[2020-11-18 15:45] hudsonkelly83 commented on #48
@aeiras playlist created: https://www.youtube.com/playlist?list=PLutlXcN4EAwCgj3v4WQSQR66_uOjoNBeg

I was only able to find two videos - one from Sept 4 and the other from Oct 9 - If you could please point me to the other three I will gladly add them.

[2020-11-18 15:46] hudsonkelly83 commented on #5
Videos posted to the TCK Playlist: https://www.youtube.com/playlist?list=PLutlXcN4EAwCgj3v4WQSQR66_uOjoNBeg

Apologies for the delay.

[2020-11-18 16:18] cesarhernandezgt commented on #5
Thank you @hudsonkelly83 .
I'll merge the corresponding PR https://github.com/jakartaee/collateral/pull/52 and close this issue.

[2020-11-18 16:18] #5 closed

[2020-11-18 17:26] aeiras commented on #48
Thank you Kelly for creating the TCK playlist.

@cesarhernandezgt submitted a few of the TCK videos via PR while I submitted others via issues. Stand by and thanks for  pushing the content to the Youtube channel, very happy!

[2020-11-18 17:28] aeiras commented on #48
@cesarhernandezgt,

 I still don't know the video contributing process, can you point me to the documentation? Thanks

[2020-11-18 18:30] cesarhernandezgt commented on #48
@aeiras
This is the main contribution document: https://github.com/jakartaee/collateral/blob/master/CONTRIBUTING.adoc
In that document, you will find the video specific guidelines.
As for the required information to add in the specific github issues, we are working to have issue templates specific for content type.

[2020-11-18 18:32] cesarhernandezgt commented on #48
A proposed example was done here: https://github.com/jakartaee/collateral/issues/5
I'll create a PR for this issue template.

[2020-11-18 18:45] aeiras commented on #48
Cesar,

I was going to recommend examples, but you gotcha. :)
 The document has improved wonderfully Cesar. Thank you for sharing it.

Do you want to send it off to the Community forum?
It is such an important enabling document. It doesn't have to be perfect to reach our ecosystem and welcome the many videos and more contributions currently available!  If you need help, happy to support you. Just

[2020-11-18 18:54] cesarhernandezgt commented on #49
@aeiras @hudsonkelly83
I opened a PR to solve this ticker: https://github.com/jakartaee/collateral/pull/53

For consistency purposes with the previous recording that is now available on the youtube channel, I suggest using the following information for the youtube Title and description:

**Jakarta EE TCK Community Outreach Call Nov 13, 2020**

Video Title: Jakarta EE TCK Community Outreach Call No

[2020-11-18 19:25] aeiras commented on #49
I didn't know videos could accept short descriptions, if YES, your recommendation rocks! + 1 of scaling the TCK video recording contributions to your recommendation Cesar!

@hudsonkelly83 thank you for your time on this!

[2020-11-20 02:53] aeiras opened #55 "[Jakarta EE Playlist Request] for Friends of Jakarta Recordings"
Can the Friends of Jakarta EE playlist be created?

2 videos are awaiting to be exported to the medium:

- [[Friends of Jakarta EE Call Recording] October 28th Video](https://github.com/jakartaee/collateral/issues/37)

- [[Friends of Jakarta EE Call Recording] September Video](https://github.com/jakartaee/collateral/issues/25)

[2020-11-20 13:23] hudsonkelly83 commented on #49
Done! https://youtu.be/QI229N1aAEw

[2020-11-20 13:36] hudsonkelly83 commented on #55
@aeiras the playlist is created: https://www.youtube.com/playlist?list=PLutlXcN4EAwB5vLXOawBkqLTFclGSeF7P

I was able to add the sept 23 meeting (https://youtu.be/EbzTBH9Gn9U) but I was not able to convert the zoom file for the October 28 meeting. If you could please convert that video to an mp4 file and re-upload it, I can put it on YouTube.

Thank you!

[2020-11-20 17:01] cesarhernandezgt commented on #49
Thank you @hudsonkelly83 . I'm going to merge https://github.com/jakartaee/collateral/pull/53.

[2020-11-20 17:01] #49 closed

[2020-11-20 17:42] aeiras commented on #55
Thank you Hudson for creating the playlist, really appreciated that!

I will look into the video issue and hopefully fix it for export.

[2020-11-20 19:42] aeiras commented on #7
@chrisguindon,

I just saw the Memorial page via email arrive in my inbox. It is a good start. Many thanks

[2020-11-20 20:00] chrisguindon commented on #7
YW

Here's a direct link if someone is looking for the URL: https://gitlab.eclipse.org/eclipsefdn/memorials/

[2020-11-24 01:56] cesarhernandezgt commented on #55
@hudsonkelly83 I found the correct link for the recording of the call from October 28th:
https://drive.google.com/drive/u/0/folders/1wsPC8p_E3bpN7D5TA7eU1A1h2uJewaka
checkout the file in mp4 seems to be already available under the name: `zoom_0.mp4`

[2020-11-24 14:35] hudsonkelly83 commented on #55
@cesarhernandezgt Great thank you! I've uploaded the video here: https://youtu.be/llKo4kUzRwQ and added to the Friends of Jakarta EE playlist

[2020-11-24 17:00] cesarhernandezgt commented on #55
Thank you @hudsonkelly83 .
@aeiras I'm closing this issue now that it has been resolved.

[2020-11-24 17:00] #55 closed

[2020-11-25 01:44] edivargas commented on #42
@aeiras i should put a new issue? or only to add a comment here? i guess it's not very clear process to request swag for jakartaee's.

[2020-11-30 17:06] aeiras commented on #42
Hola beautiful Edi 🤗,

New issue is Ideal. Your follow up confirms the need for this initiative to take form & it also shows
That ossDOERs like you would love to be properly appreciated! ⚓️

Ps: returning from a stayvacation! 🔋🧘🏽‍♀️🏡

[2020-12-09 17:40] aeiras commented on #48
Closing this issue. Thanks Cesar and Hudson!

[2020-12-09 17:40] #48 closed

[2020-12-16 00:54] aeiras opened #56 "[ 2021 Design] Call to Action: Jakarta EE Contributors Media Cards"
Early this summer, with the Maven community, we collaborated to create media cards that could be used by its community.
[CREATE: Call to Action design card](https://issues.apache.org/jira/browse/MNG-6928)

As with any community that is 100% contributor volunteer, it took a bit of time to get the finalized initial cards in the [Maven Website](http://maven.apache.org/resource/branding/actioncards.ht

[2020-12-16 01:00] aeiras opened #57 "[Create] Jakarta EE Branding Resources page under the Resource Tab"
In MicroProfile, we are populating as MicroProfilers request stuff valuable to the [Branding space](https://microprofile.io/resources/branding/).

The Jakarta website needs to provide support to its community with a similar page that caters to many. I recommend creating the page, + add the C2A works nicely as part of the fun! :)

[[ 2021 Design] Call to Action: Jakarta EE Contributors Media Cards

[2020-12-16 17:50] aeiras opened #58 "[ Website Feature] Add the Jakarta EE Budget to its website - PERMANENT"
**Recommended improvements:**

- Located under [Membership tab](https://jakarta.ee/membership/)
- Listed under the "Innovate with Us" section

Why does the budget transparency must become a part of the Jakarta EE Website and be easily located and public?
[Jakarta EE Working Group 12/10/20 Request](https://www.eclipse.org/lists/jakarta.ee-wg/msg00493.html)

[2021-01-11 19:37] aeiras opened #59 "[Jakarta EE Working Group Lifecycle Status] Add to the Working Group page"
https://jakarta.ee/membership/

[2021-01-11 19:57] cesarhernandezgt opened #60 "[ jChampions Conference 2021] - Paving the way with Jakarta EE and Apache TomEE"
@hudsonkelly83
It seems @JakartaEE haven't been notified but this week the jChampions Conference 2021 is going to take place for the first time. A lot of Jakarta EE will be part of the agenda. The following are the details of the session I'm going to deliver in case there is still a chance to promote or at least retweet my and the rest of the sessions related to Jakarta EE.

Conference Name: The j

[2021-01-11 20:40] hudsonkelly83 commented on #60
Hi @cesarhernandezgt I can definitely get some promotion for you, we will retweet your content and send out our own an hour before your session.

[2021-01-12 16:45] WalkerWatch opened #61 "[Community Blog] Marketing Coverage"
Together with a number of contributors and projects, a blog was put together highlighting efforts to integrate and bring EE9 into the community. Would love for it to get some Branding coverage from the Marketing space. The blog is below. Additionally, I've requested for Webtide Jakarta blogs to be added to the [JakartaEE blogs](https://jakartablogs.ee/#main-content) page in [a separate issue](http

[2021-01-12 19:00] cesarhernandezgt commented on #61
Hi @WalkerWatch ,
Thank you for submitting the blog post.

Hi @hudsonkelly83 , after this blog post feed is added to JakartaEE blogs via the already created [issue](https://github.com/jakartaee/jakartablogs.ee/issues/89), who should we contact or assign this ticket to have JakartaEE social media diffusion?

[2021-01-12 20:20] hudsonkelly83 commented on #61
Hi @cesarhernandezgt , @WalkerWatch , I can promote it across Jakarta EE socials starting tomorrow.

[2021-01-18 20:45] cesarhernandezgt commented on #60
thanks, much @hudsonkelly83 and team for the support.
https://twitter.com/JakartaEE/status/1349720278411202561

Closing now this issue.

[2021-01-18 20:45] #60 closed

[2021-01-29 18:18] cesarhernandezgt opened #62 "Friends of Jakarta Video Call Jan 27 2021"
Hi, the following is the information need it to upload the past call recording. I'll open a PR containing the video since Github Issues doesn't allow attachments larger than 10 MB.

Video Title: Friends of Jakarta EE | Jan 27, 2021

Youtube playlist: Friends of Jakarta EE

Description:
This call welcomes everyone interested in join, share and learns about Jakarta EE.

Find out more about Jakarta E

[2021-02-03 17:04] hudsonkelly83 commented on #62
Video uploaded to Jakarta EE YouTube https://youtu.be/oCfrMSQKWn4

[2021-02-03 17:29] cesarhernandezgt commented on #62
Thanks @hudsonkelly83 !

[2021-02-03 17:29] #62 closed

[2021-02-05 15:47] cesarhernandezgt commented on #61
Thank you all for the work done in this ticket. https://twitter.com/JakartaEE/status/1349353507464294401

[2021-02-05 15:47] #61 closed

[2021-03-03 20:55] cesarhernandezgt commented on #47
@TetianaFTV I'm closing this issue since the social media post was delivered.
Feel free to reopen if need it.

[2021-03-03 20:55] #47 closed

[2021-03-03 20:57] cesarhernandezgt commented on #38
@hudsonkelly83 @TanjaObradovic do we want to work on an official announcement/blog post that can be linked in a social media difussion?

[2021-03-03 20:59] cesarhernandezgt commented on #36
@aeiras is there an email thread behind these quotes?
I'm trying to identify where all these quotes submitted in the collateral repository will finally be published? website?

[2021-03-03 21:04] cesarhernandezgt commented on #34
@zhengshundong01
I'm closing this issue base on the above answer Tanja and Ed provided, feel free to reopen or open a new issue if further questions arise.
As a complementary note, this is generally the process we document to collaborate in Collateral or any other Jakarta EE repository:
https://github.com/jakartaee/collateral/blob/master/CONTRIBUTING.adoc

[2021-03-03 21:04] #34 closed

[2021-03-03 21:06] cesarhernandezgt commented on #25
@aeiras the folder on this ticket doesn't contain any video.
Was this solved on #55  ? If yes, feel free to close the issue.
If not, please provide the link to the video.

[2021-03-03 21:24] aeiras commented on #36
Hola Cesar,

Yes, Oct 21st WG email [thread ](https://www.eclipse.org/lists/jakarta.ee-wg/msg00473.html)

They ought to be published under the WG page in the website.
My recommendation is for the project to emulate and likely improve what is currently operational for [MPWG page](https://microprofile.io/workinggroup/). The guidelines for MPWG quotes welcomed everyone, as so do the Jakarta EE Quote.

[2021-03-03 21:27] aeiras commented on #25
Cesar here are the recordings https://drive.google.com/drive/u/0/folders/1lMycb_sdEt7YWbwn1_-xQNIVyxy4XLt9

[2021-03-03 22:59] cesarhernandezgt commented on #25
@aeiras Thak youf for the link.
Both videos seems to be already uploaded via: https://github.com/jakartaee/collateral/issues/55
https://www.youtube.com/watch?v=EbzTBH9Gn9U&feature=youtu.be
https://www.youtube.com/watch?v=llKo4kUzRwQ&feature=youtu.be

Feel free to close the ticket if this is accurate or point to the correct videos you want to upload.

[2021-03-03 23:06] #25 closed

[2021-03-03 23:06] aeiras commented on #25
perfect! thanks Cesar

[2021-03-04 14:33] TanjaObradovic commented on #38
@cesarhernandezgt please feel free to start a blog on this involve Jakarta EE MKT Committee, and if you need any input from (Tanja & Hudson) we'll be happy to provide it. Having the blog as part of the announcement section on jakarta.ee is not an issue at all, and there is existing process for this we can and should use.

[2021-03-18 15:36] cesarhernandezgt commented on #41
@TetianaFTV Can you please expand the context of this ticket?
News on the website has been self-service:  https://newsroom.eclipse.org/node/add/news but we wonder if this is the scope of quote you provided.

[2021-03-18 18:10] TetianaFTV commented on #41
@cesarhernandezgt
It is not news or article, it is a quotation for the website carousel of quotes.
This ticket was created based on Amelia's request in the following thread "[jakarta.ee-wg] [Jakarta EE Participant Members Quotes] NEEDED" in October.

Here is a short part with explanation from that email:

"I sent to the new Marketing repository issue [[Participant Members Quotes] ought to be added

[2021-03-18 18:18] cesarhernandezgt commented on #20
Base on @HillmerCh message on July 22nd 2020. It seems this ticket can be close now.
Feel free to open it if that is not the case.

[2021-03-18 18:18] #20 closed

[2021-03-18 18:23] cesarhernandezgt commented on #15
@aeiras current website has now a dedicated section to download a set of steps and requirements to engage the organization of a JakartaOne regional event.

![image](https://user-images.githubusercontent.com/1454523/111676933-4c759680-87e4-11eb-9301-b02130030c00.png)

Does the above accomplish the overall goal you shared within the context of this github issue?

[2021-03-18 18:45] aeiras commented on #15
Hey Cesar,

Thank you for the follow up, I appreciate it. :)

Partially it does bring more transparency on how to participate.
**Recommendations:**

- add the link of the JakartaONE repository to the below "download" call to action. Description can be:  Welcome to the JakartaONE Repo! If you want to provide feedback on the Hosting Your Own Regional JakartaONE, work on JakartaONEs, features that co

[2021-03-18 22:11] cesarhernandezgt commented on #41
Thank you for the context @TetianaFTV
I created a new issue in the https://github.com/jakartaee/jakarta.ee/issues/1098 jakarta.ee repository along with a PR because the change to add a quote is pretty straightforward in the code.
Feel free to close this issue so any follow-up can be handled in the jakarta.ee repository and the corresponding issue.

[2021-03-18 22:34] TetianaFTV commented on #41
sure, thanks @cesarhernandezgt!

[2021-03-18 22:34] #41 closed

[2021-03-19 18:08] cesarhernandezgt opened #65 "Please add Melissa as collateral committer"
Currently, Melissa Jacobus GitHub username @melissajacobus can't be added as an assignee for issues in this repository.
Can one of the repo admins please add Melissa as a committer for this repository?
cc: @ivargrimstad @TanjaObradovic

![image](https://user-images.githubusercontent.com/1454523/111824220-878ecd00-88ab-11eb-94b4-d91a62414135.png)

[2021-03-19 19:32] aeiras commented on #57
being worked on the Jakarta EE repo https://github.com/jakartaee/jakarta.ee/issues/1099.

Very happy to see it! Thank you @jph152

[2021-03-19 19:32] #57 closed

[2021-03-19 19:49] aeiras commented on #56
being worked https://github.com/jakartaee/collateral/issues/57

[2021-03-23 15:52] aeiras opened #66 "[Jakarta EE Platform call Media Push] Weekly reminders via the Jakarta Handle"
Right now I am attending (rare) the 8am-9am PDT call.
Can the team create and push weekly ~5hrs before the call the calendar link with  a short summary of the call value to bring awareness of it?

Tweet [here ](https://twitter.com/ameliaeiras/status/1374380364550922241?s=20)as an example of pushing awareness of this important call.

Thank you, Tanja!

[2021-03-23 16:35] jph152 commented on #66
Hi Amelia, we can start posting reminders for these calls early Tuesday morning EDT.

[2021-03-23 16:39] TanjaObradovic commented on #66
Thanks @jph152 and @aeiras. I propose we close this issue and re-open if there is a need for it. If OK @aeiras please close the issue or let me know if you agree and I will.

[2021-03-23 17:36] aeiras commented on #66
I think it is wonderful. Thank you! 💙

[2021-03-23 17:36] #66 closed

[2021-03-23 18:27] TanjaObradovic commented on #65
Quick update internally are looking to add @melissajacobus to the contributor group.

[2021-03-23 20:08] chrisguindon commented on #65
I sent an invitation to https://github.com/melissajacobus to become a member of the collateral-committers team!

[2021-03-23 20:08] #65 closed

[2021-03-23 21:04] aeiras opened #67 "[CN4J Alliance] Create a Youtube PlayList and add 3/23 recording"
Hola,

Thanks in advance for scaling the activity and helping us push it.
Please help us create a new Playlist under the Jakarta EE Youtube lists as follows:

**Name**

- Cloud Native For Java, CN4J Alliance

**Recording contribution** :

- 3/23/2021 YouTube Recording: https://youtu.be/jRJpZX9379s
- Agenda call Minutes: https://docs.google.com/document/d/1tDWAsNSrx07zaB981BT2fTMW5R0XyheaS7OsZLLHRV

[2021-03-23 21:16] TanjaObradovic commented on #65
thanks @chrisguindon!

@melissajacobus once you are all set, please close this issue. Thanks!

[2021-03-23 22:09] melissajacobus commented on #65
Thanks @cesarhernandezgt and @chrisguindon

[2021-03-24 15:01] aeiras commented on #67
Hola Hudson,

Thats amazing that you were able to link the video. Thank you so much for creating the new playlist and adding the video. Pretty fantastic!

[2021-03-24 15:01] #67 closed

[2021-03-25 21:46] cesarhernandezgt commented on #15
@aeiras

Thank you for the suggestion. I notice that the pdf document has already the link to the https://github.com/jakartaee/jakartaone.org repository, in fact, the link automatically triggers the creation of a new Github issue in the jakartaone.org repository as the first step in the entire process (see attached image).

My opinion is that adding a second line right from the Download section in

[2021-03-26 00:49] aeiras commented on #15
Actually it is nice you helped me navigate the PDF, Cesar.
It is a good start.

Request adjustments to the PDF guidelines:

-  MicroProfile name needs to be fixed.
- Is there a public mailing list that can be created in addition to the "private" where the future and past communities can interact?  The Community forum is ok but with +850 people, it is time for JakartaONE to have its own public foru

[2021-03-26 17:52] cesarhernandezgt commented on #15
Thank you for the feedback @aeiras.

My feedback so far is that the original scope of this GitHub issue has diverged into JakartaOne website content and the overall process for preparing a JakartaOne event.

From your previous reply, it seems there are two potential Github Issues that need to be created in the https://github.com/jakartaee/jakartaone.org

1. Update jakartaone-regional-events.pdf: R

[2021-03-26 18:11] aeiras commented on #15
Thank you, Cesar!

[2021-03-26 18:11] #15 closed

[2021-03-29 14:58] trulymobilenwp commented on #40
Event concluded. Need to determine SWAG strategy when digital events.

[2021-03-29 14:58] #40 closed

[2021-03-29 16:17] trulymobilenwp commented on #43
We will determine a SWAG option for digital only events.

[2021-03-29 16:17] #43 closed

[2021-03-31 14:41] melissajacobus commented on #13
Hi Emelia,
I'm sorry for the delay in our team getting back to you on your GitHub tickets. I have just recently been assigned a handful of yours.  You bring up so many wonderful points that I am taking your tickets and formalizing them in a document for the Jakarta EE marketing committee to refer to as we plan JakartaOne events, new launches/iterations of Jakarta EE, etc. I'm adding this to that d

[2021-03-31 14:41] #13 closed

[2021-03-31 15:09] melissajacobus commented on #10
Hi Amelia, I was just recently assigned this ticket and I appreciate the thought you put into this. I agree that there needs to be be standard way in which these events are titled and so every event is treated in the same fashion.

We need to talk to the marketing committee as a whole -- but to your point doing something like:

    JakartaONE Americas, listing the date and time it is taking place

[2021-03-31 15:09] #10 closed

[2021-03-31 15:29] melissajacobus commented on #11
Hi Amelia, looking at this ticket since it was just assigned to me.
You bring up some great points.  We definitely need to make sure we do more for people that help support the event. Some things that work and are easily able to be "shipped" and "delivered" especially during pandemic times are something like ebooks. And, a public thank you is always needed as well.

[2021-03-31 15:29] #11 closed

[2021-03-31 15:35] melissajacobus commented on #2
Hello everyone, I'm so sorry for the delay in responding to this.  I was just assigned this ticket, and I will be closing it out noting the following:
We will definitely see how we can use this slide https://twitter.com/mimaraslan/status/1301103580213112832
moving forward in presentations showing the relationship between Jakarta EE and Java EE and also make sure that we also provide @mimaraslan cr

[2021-03-31 15:50] melissajacobus commented on #31
Wanted to circle back on this since I was just assigned the ticket. I agree that having a repository that people can access from the web with slides, etc. from each event is a good idea. I do think we should leave the slides up on those pages somewhere for folks to access until we run that event again. I will share this with the Marketing committee. Having references (even just PDFs) of the slides

[2021-03-31 15:50] #31 closed

[2021-03-31 15:55] melissajacobus commented on #12
I really like the idea of having Q&A from the events on the web.  I think this is definitely something that we should look into making available (along with reposting the slides from the event) on each of the event web pages. I will bring this up to the marketing committee.

[2021-03-31 15:55] #12 closed

[2021-03-31 16:07] aeiras commented on #12
Hola Melissa,

Thanks for helping tackle many of the tickets created in this Repo. I appreciate it. :)

[2021-03-31 16:13] aeiras commented on #31
Melissa,

I will show you an example of how we enable the MicroProfile community via the project website created and continues to improve (based on users' feedback) its Branding page.
I have stated years of feedback on making the Jakarta EE website the project's source of truth. That includes its JakartaONE website as well.

[MicroProfile Branding Page- Example](https://microprofile.io/resources/b

[2021-03-31 16:21] aeiras commented on #11
I appreciate this ticket is being noticed.

IMO if we are not shining the light to those #ossDOERs, then there is no value on whatever we might push via the project social media. To thank and do so openly and as honest and simple candid as it is deemed deserve is the best way to grow and protect the rebranding of Java EE.

With that note, I agree with you. Mailing stuff during this pandemic is bar

[2021-03-31 16:32] aeiras commented on #13
Glad to hear conversations will happen, Melissa!

[2021-03-31 16:46] TanjaObradovic commented on #8
I just realized this ticket is still open. This has been addressed awhile back and I am closing this ticket.
Thanks!

[2021-03-31 16:46] #8 closed

[2021-03-31 16:47] TanjaObradovic commented on #7
This has also been addressed awhile back so closing the issue.
Thanks!

[2021-03-31 16:47] #7 closed

[2021-03-31 16:49] TanjaObradovic commented on #9
Thanks Amelia, this is on-going effort. So no reason to have the issue open any longer.

[2021-03-31 16:49] #9 closed

[2021-03-31 16:57] TanjaObradovic commented on #36
@cesarhernandezgt can you please guide @laliwa to do the same as with  Jelastic quote? This is logged in at the wrong place. Many thanks!

[2021-04-06 15:39] aeiras opened #68 "[Jakarta EE 9.1 Update Article] By Kevin S needs to be added to the Announcement community Section"
[Jkta twitter](https://twitter.com/JakartaEE/status/1379134061537550336?s=20)

@kwsutter

Recommendation is to add the blog to the Jakarta EE Community Annoucement space located under the main page of the project website. Submit News at the bottom right side. :)

Like that, such important news stay within 1 place.

[2021-04-06 15:44] TanjaObradovic commented on #68
Hi Amelia,
as always, please feel free to submit the request at the jakarta.ee
![image](https://user-images.githubusercontent.com/40073121/113738932-509f2080-96cd-11eb-911c-593022a17d10.png)
and it will be processed there.
No need to submit and issue for this.
Thanks!!

[2021-04-20 18:24] aeiras opened #69 "[Jakarta EE 9.1 Compatible Implementation Request Media push deadline] call out to all Implementations"
On today's Platform call, we discussed the April 29th deadline welcoming all implementations to submit/create their CIR, Compatibility Implementations Request.

Please, lets use the Jakarta Media to push the deadline and call to action. 9 days, a minimum of 2 pushes could be great!

Thanks

[2021-04-20 18:27] aeiras commented on #69
@TanjaObradovic,

The ticket is added to today's platform minutes. Thank you for bringing it to the media team.

[2021-05-07 17:21] cesarhernandezgt commented on #36
Hi @laliwa

I created a small guide to enable you to submit the quote in the right place for the jakarta ee website. The guide is a work in progress, this I the current version available in my PR:
https://github.com/jakartaee/jakarta.ee/blob/292ee6c1b8e610ec8f84977ccce5f79cfc3e7fd8/HOWTOS.md

Feel free to close this issue so any follow-up can be handled in the https://github.com/jakartaee/jakarta.

[2021-05-20 19:06] #39 closed

[2021-06-03 20:12] aeiras opened #70 "[Feedback on White Paper email] White Paper - Planning the future of Jakarta EE"
Hola Karen,

I hope this ticket finds you well.
There are 2 things I would like to provide feedback on the email you sent on behalf of the Working Group today, Subject of email:  White Paper - Planning the future of Jakarta EE contains no workable links
<img width="1013" alt="image" src="https://user-images.githubusercontent.com/10731224/120705028-261ed900-c46c-11eb-9ed0-4de407f0290a.png">

1. no

[2021-06-03 20:28] cesarhernandezgt commented on #70
Hi @karenmcnaughton

I'm assigning this ticket to you since I don't have visibility over these email campains.

cc: @TanjaObradovic

[2021-06-03 20:38] aeiras commented on #70
I deeply appreciate that, Cesar. Gracias!

[2021-07-07 19:04] karianna opened #71 "javax --> jakartaee namespace transition - Ecosystem tracking"
This issue is the umbrella issue for setting up a tracking system to track the javax to jakartaee namespace changes in the ecosystem (popular libraries, frameworks, tools, servers, etc).

[2021-07-07 19:05] karianna commented on #71
The attached PDF gives some context when we were looking at this challenge in the Jakarta EE 9 time frame

[JakartaEE-9-Tools-Vendor-Datasheet-2020-07-17-final (1).pdf](https://github.com/jakartaee/collateral/files/6779551/JakartaEE-9-Tools-Vendor-Datasheet-2020-07-17-final.1.pdf)

[2021-07-07 21:30] keilw commented on #71
On the IDE side it would certainly be interesting to see, if [Web Tools](https://www.eclipse.org/webtools/) could have something to offer here.

[2021-07-08 08:48] jeanouii commented on #71
Saw on twitter that IntelliJ now has support for Jakarta and even some ways to convert and application to the new namespace

[2021-07-08 08:50] karianna commented on #71
Updated the sheet thank you!

[2021-07-08 15:32] ehsavoie commented on #71
Maybe you should also add middleware tools like messaging brokers, transaction engines, ...

[2021-07-08 21:04] karianna commented on #71
Added a section but haven't really populated it yet, any help is much appreciated!

[2021-09-08 14:49] scottmarlow opened #72 "Please publish recording from our first Jakarta EE Platform TCK call today"
Please publish the Platform TCK call MP4 video on the https://www.youtube.com/c/JakartaEE channel or please advise how I can upload directly there (smarlow@redhat.com).

The video was too big (124 MB) to upload to this issue directly (github only allows attachments up to 10mb).  Is there a preferred way for me to make it available?

[2021-09-08 17:54] aeiras commented on #72
This is great Scott.

TCK playlist is active and ready to welcome the new recordings.
Are you using the Jakarta EE Zoom account? If so, why are you not recording to the cloud?
We could record to the cloud and submit a git issue to remind the EF staff to export to video to the TCK playlist making it less work for you.

I hope to see you at 2pm

[2021-09-08 18:14] scottmarlow commented on #72
I did record to the cloud using the Jakarta EE Zoom account but am not sure of what else I might need to do other than creating this issue to have the new recording be accessible via https://www.youtube.com/c/JakartaEE.

[2021-09-08 18:24] aeiras commented on #72
Great, thanks for confirming Scott.

Let's pull Tanja on this for process clarification.
What I have in mind is that every time a call happens, we submit a git issue that request the Jakarta staff to export that video and done.
We need to have a scalable boring name of [name, date] as title in the recording and the agenda minutes added in the body of the video description and done.

No need to add

[2021-09-30 22:11] aeiras opened #73 "[Contributor Card Tools for Releases] ~tampering with commit history w/ Squash"
During the Sept 8th TCK call, we discussed squash vs not squash and its impact on the Jakarta Releases Contributors' cards history that populates the release page cards.

Thanks to @scottmarlow, we know that TCK items might be impacted by the current clean up.
[1] https://github.com/scottmarlow/jakartaee-tck/pull/3
[2] https://github.com/scottmarlow/jakartaee-tck/tree/tckrefactor_marlow_beforesqua

[2021-10-01 11:39] Dexmaster commented on #73
Hello @aeiras and @scottmarlow.

We found that issue 4-5 month ago when doing 9.1 changes to the tool. And added so all authors and co-authors (up to 10) for commits would be added to the list, even if their changes already are not there commits should be still in a tree. ([these lines](https://github.com/jakartaee/jakarta.ee/blob/src/js/contributor-cards/generate-contributor-lists.sh#L66-L74) are

[2021-10-01 11:51] Dexmaster commented on #73
P.P.S. another solution if it's pair programming or commit create by group of programers you need to mention it in footer of commit one co-author per line
[code]
Then github will add co-author to that commit authors, with PR merge squash is eve easier all commits authors are added to squash commit authors. (both [github](https://docs.github.com/en/github/committing-changes-to-your-project/creating

[2021-10-01 12:59] scottmarlow commented on #73
Thanks for the feedback!

https://github.com/scottmarlow/jakartaee-tck/commit/5366823f416fba58fc6995a46fb67e1ae80fd722 is a squashed change on my topic branch.  It currently contains:
[code]

It sounds like the comment should be updated to include:
[code]

Note that [Cesar's modification](https://github.com/scottmarlow/jakartaee-tck/commit/170b00827e6e176f9b8095d2f3de71c8b40537b0) was deleted in a

[2021-10-01 13:23] scottmarlow commented on #73
I'm not sure why but I get failures when I add `Co-Authored by: Cesar Hernandez <chernandez@tomitribe.com>` during a rebase.

[2021-10-01 15:15] scottmarlow commented on #73
All set now I think (although not sure why I had to force the push that just had a commit log message change).

[2021-10-01 16:36] Dexmaster commented on #73
So if you want to replace commit it is used with force push, better practice would be feature branches and PRs you can merge into branch and squash. If you work with PRs you don't need to do manual squashes.

One branch should be prod/main where you merge PRs work as features are finalized.
Second dev/stage branch where you test fixes/features iterating over smaller chunks.
And for each fix/featur

[2021-10-01 16:56] Dexmaster commented on #73
Also it should be `Co-Authored-By: ` no spaces in tag and no blank line between it and `Signed-off-by:`
[code]

Here [a bit of info](https://gist.github.com/develar/273e2eb938792cf5f86451fbac2bcd51) on commit structure, Ideally your commit message should be smth like (please change first line to be conclusion title of what commit includes, ideally less than 50 characters):
[code]

[2021-10-01 17:23] Dexmaster commented on #73
Finally when you do PR merge just do squash through UI, it should not have issues with author or any data preservation:
![image](https://user-images.githubusercontent.com/6061000/135661639-68a00ef5-7130-4db0-9ac4-2ada80a38262.png)

[2021-10-01 17:50] scottmarlow commented on #73
+1 on the format rules above + https://gist.github.com/develar/273e2eb938792cf5f86451fbac2bcd51

+1 on the branching ideas, we are mostly using master (still discussing a new name to be applied at end of Jakarta EE 10 release) branch for development of the next Jakarta EE release.  We also started a `refactoring` development [branch ](https://github.com/eclipse-ee4j/jakartaee-tck/tree/tckrefactor)

[2021-10-01 19:15] Dexmaster commented on #73
Perfect now even from UI you have all the authors of that commit:
![image](https://user-images.githubusercontent.com/6061000/135673072-3c28d5d5-ac8a-41d4-a79e-6108852be817.png)

There are lost of ways of do things, but if you do a squash it's really hard to provide more info on code separation, if you have a PR and you merged it with squash you could see who have done what work because PR will sti

[2021-10-01 19:19] Dexmaster commented on #73
Also if you [graphql test code](https://github.com/jakartaee/collateral/issues/73#issuecomment-932154231) I've provided 8 hours ago, it also has both contributors:
![image](https://user-images.githubusercontent.com/6061000/135674900-092ac9b1-a3a9-4393-865d-3bded363e8a3.png)
So all is well tool works, and now that commit has needed data.

[2021-11-04 23:38] aeiras opened #74 "[Add a Marketing Contributor to TRIAGE Repo access] Request"
Hello team,

Please add me as an active contributor to this repository. Thank you.
To know how, please refer to https://github.com/microprofile/microprofile-wg/wiki/Contributors-GitHub-“Triage”-access

[2021-11-04 23:45] aeiras opened #75 "[Jakarta EE New Members Onboarding Wiki] Feature needed"
Amy (IBM) & I created a Onboarding document for both (Marketing Committee members = 1 internal document) & a New Jakarta EE Members (external front facing document) to make it easy and less repetitive the onboarding to the project to the diverse entities.

During current onboarding thread, it was stated that those 2 documents might no longer exists in the marketing drive: WG forum thread: https://

[2021-11-10 14:30] TanjaObradovic commented on #75
Thanks Amelia.
I am not aware of the documents you are referring to. Every working group is different and Jakarta EE Working Group does onboarding of new members in a different way: first we are trying to organize our website in such a way that our members (and everyone else interested) can find the information there and also do a series of meetings to help them with onboarding.   Thanks for point

[2021-11-10 17:49] aeiras commented on #75
Hola Tanja,

Website as the source of truth is a HUGE +1 from me today, in the past and always!

Thank you for the follow up, I appreciate it!

[2021-11-24 18:57] cesarhernandezgt opened #76 "[Jakarta EE session] JConf Peru 2021"
Hi @HailleySeed

I'm going to provide a JakartaEE related session next Saturday in a event organized by the Peru JUG, It would be great if community-driven sessions can be socialized via Jakarta EE social media in the same way contribution from the community has been amplified before [1].

Details of my session:

- Conference Name:  JConf Peru 2021
- Conference website and social media links:   ht

[2021-11-24 19:48] HailleySeed commented on #76
Hi @cesarhernandezgt

Yes absolutely!

 Do you have a date you would like this to go out on?

Thanks!

[2021-11-24 20:06] cesarhernandezgt commented on #76
Yes, tomorrow 25th works just fine.
Thank you!

[2021-12-01 18:26] aeiras opened #77 "[Jakarta EE Paylist] Make it so latest videos play first"
Hello EMO Team,

Please help us adjust what currently is the set up for the Jakarta EE Youtube channel to play the latest video under the applicable Playlists? Thank you.

Example is the TCK playlist:
https://www.youtube.com/playlist?list=PLutlXcN4EAwCgj3v4WQSQR66_uOjoNBeg

[2021-12-02 18:41] aeiras commented on #77
beautifully completed via https://www.eclipse.org/lists/jakarta.ee-marketing/msg00003.htmlc

[2021-12-02 18:41] aeiras commented on #77
beautifully completed via https://www.eclipse.org/lists/jakarta.ee-marketing/msg00003.htmlc

[2021-12-02 18:41] #77 closed

[2022-01-04 14:28] hantsy commented on #71
How about the Jdbc spec, I found in Jakarta EE 9 it is still using `javax`, and some APIs existed in the lagacy JDK. Not updates in future ?

[2022-01-04 15:09] karianna commented on #71
The move will be made in JakartaEE 10

[2022-01-04 21:08] anbusampath commented on #71
I thought jdbc is part of JDK itself, never part of Java EE or Jakarta EE. Just curious to know that am I missing anything?

[2022-01-05 02:56] hantsy commented on #71
@anbusampath I remember the Jdbc APIs in JDK does not include XA Resources and just design for desktop/client applications. Jdk is modularized, not sure the future of jdbc module.

[2022-01-12 17:29] cesarhernandezgt commented on #76
Closing this and thank you again for the support https://twitter.com/JakartaEE/status/1463948339746119682

[2022-01-12 17:29] #76 closed

[2022-07-01 17:39] cesarhernandezgt commented on #36
Closing this since the website was updated back in late 2021

[2022-07-01 17:39] #36 closed

[2022-07-26 20:15] cesarhernandezgt commented on #22
As of today, JakartaOne has the following resources and processes:

[2022-07-26 20:28] cesarhernandezgt commented on #21
This ticket applies to the overall internal process Eclipse Foundation needs to manage all the events.
I think this ticket can be closed since now we the https://jakartaone.org/documents/jakartaone-language-host-process.pdf document states the Google Drive access to Committee members:

[2022-07-26 20:35] cesarhernandezgt commented on #19
@aeiras
This is a good idea, but I wonder if it's more scalable to have language-specific videos that describe JakartaOne as a whole, and this can be used as part of social media?

I would like to see every year the new and known contributors part of the JakartaOne committees, JUG leaders rotates from time to time. This requires a logistic for recording, editing, and producing video for each Jakar

[2022-07-26 20:38] cesarhernandezgt commented on #18
This can potentially be part of the process current described in https://jakartaone.org/documents/jakartaone-language-host-process.pdf
As well with my comment in #19 , this requires logistics to produce (organize interview, record, audio and video editing) them.

[2022-07-26 20:47] cesarhernandezgt commented on #17
@aeiras
Currently, https://github.com/jakartaee/jakartaone.org is the repository for the jakartaone.org website.
The repository is under the JakartaEE Github Organization.

If we enable the wiki on https://github.com/jakartaee/jakartaone.org, remember that GitHub doesn't support pull requests for the wiki section.

The approach of creating peer Region (country) wiki documentation is currently bein

[2022-09-08 22:06] aeiras commented on #22
Your follow-up, @cesarhernandezgt looks positive towards improvements in this area.

For inspiration, maybe the project could emulate the MicroProfile Branding page https://microprofile.io/resources/branding/

[2022-09-08 22:06] aeiras commented on #21
Spot on @cesarhernandezgt!

[2022-09-08 22:06] #21 closed

[2022-09-08 22:13] aeiras commented on #19
You have a point, @cesarhernandezgt!

Within the past few years and a few iterations of JakartaONEs, we have seen members rotate when events return/iterate.

Since all members contributing to each regional event are volunteers, it is up to those committees to decide how to introduce themselves. Either video, using Jakarta INFRA videos or similar... blogs via jakarta news, etc...

What I see lackin

[2022-09-08 22:15] aeiras commented on #18
+1. huge supporter of wikis written within JakartaONE repo that welcome PRs and improvements by those behinds the making of JakartaONEs that is the global community who volunteers to make stuff happen.

[2022-09-08 22:16] aeiras commented on #17
How about pages, @cesarhernandezgt ?
If wikis are not possible, pages might work better.
Google drive is ok but it rarely scale to bring it to the Website.

[2022-09-15 22:22] cesarhernandezgt commented on #22
Thank you @aeiras for the feedback. My previos reply was under the context of JakartaOne events planing.
After seeing https://microprofile.io/resources/branding/  I think we already have this in Jakarat EE but not unified like MP does it.

If we take MP branding page as a baseline, the following is the number of clicks (pages or documents) one needs to have access to get the mp branding page:
- ht

[2022-09-15 23:46] cesarhernandezgt commented on #19
@aeiras the pdf itself has the text:

And this point to https://github.com/jakartaee/jakartaone.org/issues.

Having the PDF + a wiki on the https://github.com/jakartaee/jakartaone.org repositories has the following challenges:

1. Keeping both set of instructions in sync
2. From a design point of view, I prefer to see a link to a pdf or a link to a website page like `https://jakartaone.org/becomea

[2022-09-16 00:04] aeiras commented on #22
@cesarhernandezgt,

Your feedback improves what currently is as it simplifies it and makes the visitor navigate the website much more fluidly. +1 .

[2022-09-16 00:06] cesarhernandezgt commented on #17
@aeiras pages is already applied here by language basis: https://github.com/jakartaee/jakartaone.org/tree/master/content
I think that once the process gets migrated from pdf into github via https://github.com/jakartaee/jakartaone.org/issues/417, then we will be able to use githbub pull request workflow also for language-specific documentation (wiki as you call it)

[2022-09-16 00:07] aeiras commented on #19
This https://deploy-preview-418--jakartaee-jakartaone.netlify.app/hostanevent/ is what i was talking about. Great job, Cesar.

IMO, the PDF guideline shouldn't exist with reference to volunteering for JakartaONEs. :)

[2022-09-16 00:16] aeiras commented on #17
I am really excited about that PR that converts the PDF guidelines, Cesar.
Great job on the diverse items on this update. :)

[2022-11-30 21:41] cesarhernandezgt commented on #22
Closing this in favor of: https://github.com/jakartaee/jakarta.ee/issues/1595

[2022-11-30 21:41] #22 closed

[2022-11-30 21:44] cesarhernandezgt commented on #17
@aeiras, I'm closing this now that https://github.com/jakartaee/jakartaone.org/issues/417 was already merged and PR are available to improve the existing documentation.

[2022-11-30 21:44] #17 closed

[2022-11-30 21:50] aeiras commented on #17
Thank you, Cesar!